

.sidebar{
  width: 10%;
  height: 100vh;
  background-color: #fff;
  margin-top: 5%;
  border-right: 1px solid black; 
  font-family: "omyu-pretty";
  
}

.flex-container {
  display: flex;
}


.sidebar p{
  padding: 10px;
  margin: 20px;
  padding-top: 20%;
  color: black;
  font-size: large;
}

.sideLink{
  text-decoration: none; 
}

.sideLink.active {
  font-weight: bold; 
}